#currency {
  font-size: 3em;
  text-align: center;
  color: orange;
}
#Multiplier{
  text-align: right;
  size: 2em;
}
#plusMultiplier{
  text-align: right;
  size: 2em;
}
#minusMultiplier{
  text-align: right;
  size: 2em;
}
#icecream {
  font-size: 3em;
  text-align: center;
}
#icecreammaker {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#sellicecream {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#decreaseBuy {
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}
#Buycost {
  font-size: 1em;
  text-align: center;
}
#Sellcost{
  font-size: 1em;
  text-align: center;
}
#increaseSell{
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}
